*.pyc
src/app/template/__pycache__/loginUI.cpython-313.pyc.1254219707152
src/app/template/__pycache__/signinUI.cpython-313.pyc.1685846145696
src/app/template/__pycache__/signinUI.cpython-313.pyc.1685847503280
src/app/template/__pycache__/signinUI.cpython-313.pyc.2390098201040
