*.pyc
src/app/template/__pycache__/loginUI.cpython-313.pyc.1254219707152
src/app/template/__pycache__/signinUI.cpython-313.pyc.1685846145696
src/app/template/__pycache__/signinUI.cpython-313.pyc.1685847503280
src/app/template/__pycache__/signinUI.cpython-313.pyc.2390098201040
src/app/models/__pycache__/dao.cpython-313.pyc.1696098130512
src/app/db/app.db
.vscode/settings.json
src/app/models/__pycache__/adm.cpython-313.pyc.2249531810624
src/app/models/__pycache__/adm.cpython-313.pyc.2249531816784
src/app/models/__pycache__/adm.cpython-313.pyc.2449680918368
src/app/template/__pycache__/adminUI.cpython-313.pyc.1731303911328
src/app/template/__pycache__/adminUI.cpython-313.pyc.2249531811152
src/app/template/__pycache__/adminUI.cpython-313.pyc.2913224680080
src/app/template/__pycache__/adminUI.cpython-313.pyc.2913224684832
src/app/template/__pycache__/courseUI.cpython-313.pyc.1898123104608
src/app/template/__pycache__/courseUI.cpython-313.pyc.2005706835904
